<div class="container">
  <div id="header" class="text-center">
    <h1 class="share-header-text">
      Collections
    </h1>
  </div>
  <div id="content" class="section-gw-white">
    <ul class="list-unstyled catalog">
    <% @response.each do |x| %>
      <li class="document collections-list">
        <div class="row search-result-wrapper">
          <div class="col-md-1"><%= image_tag x["thumbnail_path_ss"] %></div>
          <div class="col-md-11 collections-title-wrapper">
            <h2 class="h2-section-header">
              <%= link_to x["title_tesim"][0], "collections/#{x["nesting_collection__pathnames_ssim"][0]}", class: "collections-title" %>
            </h2>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>