// navbar and header styling

header {
  height: 20px;
  background-color: $gw-light-blue;

    #masthead {
      height: 100%;
      display: flex;
      align-items: center;
    }
  
    .container-fluid {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  
    @media (min-width: $mobile-breakpoint) {
      height: 7.8em;
      background-color: transparent;

      .container-fluid {
        justify-content: space-between;
      }
    }
}

  .image-masthead,
  .navbar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .navbar {
    z-index: 98;
    min-height: 30px;
  
    .share-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      @media (min-width: $mobile-breakpoint) {
        min-height: 3em;
        width: auto;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  
  .navbar-static-top {
    border-width: 0;
  }
  
  .navbar-header {
    display: none;
    align-items: center;
  
    .navbar-brand {
      height: auto;
      padding: 0;
      margin-left: 0 !important;
    }
  
    .title-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      max-width: 25rem;
  
      .institution_name {
        color: $gw-dark-blue;
        font-size: 1.3125rem;
        line-height: 1.3;
      }
  
      .subtitle-wrap a {
        color: $gw-light-blue;
        text-decoration: underline;
  
        &:hover, &:focus {
          color: $gw-hover-orange;
        }
      }
    }
  
    @media (min-width: $mobile-breakpoint) {
      display: flex;
    }
  }
  
  .navbar-inverse {
    background-color: transparent !important;
    border-color: transparent;
  
    @media (min-width: $mobile-breakpoint) {
      background-color: $gw-white !important;
    }
  }
  
  .image-masthead {
    border-bottom: none;
    margin-bottom: 1rem;
    z-index: 99;
  
    .navbar {
      background-color: transparent;
      color: $gw-white;
  
      .active a {
        background-color: transparent;
      }
  
      .navbar-nav {
          display: flex;
          align-items: center;

        li {
          background-color: transparent;
    
          a {
            color: $gw-white;
            text-transform: none;
            white-space: nowrap;

            &:active {
              background-color: transparent;
            }
          }

          &.navbar-item {
            &:focus {
              background-color: $gw-light-blue;
              outline: none;
            }

            &:hover {
              background-color: $gw-light-blue;
              color: $gw-white;
            }

          }
        }

        .navbar-divider {
          &::before {
            content: "|";
            color: #688a9c;
            font-size: 1em;
            width: 4px;
            margin-left: -2px;
            padding: 0;
            text-align: center;
            display: inline-block;
          }
        }

      }
  
      @media (min-width: $mobile-breakpoint) {
        background-color: $gw-dark-blue;
      }
    }
  }
  
  .image-masthead .navbar, .navbar-default {
    background-color: $gw-dark-blue;
    border-color: unset;
  
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
  
      .row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-color: $gw-hover-buff;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    
        .navigation-wrap {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: end;
          background-color: $gw-light-blue;
  
          .always-visible {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            #mobile-title {
              font-size: 2.1em;
              font-weight: bold;
              margin-left: 0.3rem;
              color: $gw-white;
  
              &:hover {
                color: $gw-light-grey;
              }
            }
          }
  
          .navbar-toggle {
            border: none;
            width: fit-content;
  
            &:hover, &:focus {
              background-color: transparent;
            }
  
            .icon-bar {
              background-color: $gw-white;
            }
          }
  
          #top-navbar-collapse {
            width: inherit;
            padding-left: 0;
            background-color: $gw-dark-blue;
            border: none;
  
            ul {
              border: none;
              margin-left: 0;
            }
          }
  
          @media (min-width: $mobile-breakpoint) {
            justify-content: center;
          }
        }
    
        @media (min-width: $mobile-breakpoint) {
          background-color: transparent;
          flex-direction: row;
    
          .navigation-wrap {
            flex-direction: row;
            justify-content: end;
            width: 100%;
            background-color: transparent;
  
            .always-visible {
              display: none;
            }
  
            #mobile-title {
              display: none;
            }
          }
        }
      }
    }
  
    .navbar-nav {
      display: flex;
      align-items: center;

      .open > .navbar-item:hover, .open > .navbar-item:focus {
        color: $gw-white;
        background-color: $gw-light-blue;
      }
  
      li.navbar-item {
        background-color: transparent;
  
        a {
          color: $gw-white;
          text-transform: none;
          white-space: nowrap;
  
          &:hover, &:focus {
            color: $gw-white;
            background-color: $gw-light-blue;
          }
        }
      }

      .navbar-divider {
        &::before {
          content: "|";
          color: #688a9c;
          font-size: 1em;
          width: 4px;
          margin-left: -2px;
          padding: 0;
          text-align: center;
          display: inline-block;
        }
      }

      li.navbar-browse {
        padding: 0 0.2rem;

        a {
          color: $gw-white;

          &:hover, &:focus {
            color: $gw-dark-blue;
            background-color: $gw-hover-buff;
          }
        }

        @media (min-width: $mobile-breakpoint) {
          padding: 0;

          a {
            margin: 8px;
            white-space: nowrap;
          }
        }
      }

      .active > a {
        color: $gw-white;
        background-color: unset;

        &:hover {
          color: $gw-white;
          background: $gw-light-blue;
        }
      }
  
      .open .dropdown-menu > li > a {
        color: $gw-white;
  
        &:hover {
          background-color: $gw-light-blue;
          color: $gw-white;
        }
      }
    }
  
    .col-sm-5 {
      width: auto;
      padding-right: 0;
    }
  
    .searchbar-right {
      width: 90%;
      margin: 0;
      padding: 0 0.2rem;
  
      @media (min-width: $mobile-breakpoint) {
        width: 64%;
      }

      @media (min-width: 1120px) {
        width: 100%;
      }
  
      input, .dropdown-toggle {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 2rem;
      }
  
      .input-group-btn {
        height: unset;
        left: -4px;
        
        button {
          height: unset;
          padding: calc(0.3rem + 4px) 0.75rem;
          border-radius: 0;
          outline: none;
          color: $gw-dark-blue;

          &:focus {
            height: unset;
            border: none;
            background-color: $gw-hover-buff;
          }
        }
      }
  
      .dropdown-toggle {
        font-weight: 200;
        padding: 0.125em 0.3em;
  
        &:focus {
          height: calc(2rem - 2px);
        }
  
        .dropdown-menu {
          position: absolute;
          font-size: 0.9rem;
          font-weight: 200;
        }
      }
  
      .dropdown-menu > li > a {
        font-weight: 200;
      }

      #search-form-header {
        margin-top: 0;

        .form-group {
          display: flex;
          justify-content: end;

          @media (max-width: $mobile-breakpoint) {
            margin: 0.2rem 0;
            justify-content: center;
          }
        }

        .input-group {
          margin-bottom: 0;
          width: 32vw;

          @media (max-width: 870px) {
            width: 22vw;
          }
  
          @media (max-width: $mobile-breakpoint) {
            width: 50vw;
          }
        }
      }
  
      #search-field-header {
        height: unset;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: calc(0.3rem + 4px) 0.75rem;
      }
  
      #search-submit-header {
        height: unset;
        padding: calc(0.3rem + 4px) 0.75rem;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;
        background-color: $gw-light-blue;
        color: $gw-white;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

        &:disabled {
          opacity: 0.65;
        }
      
        &:hover, 
        &:focus {
          text-decoration: none;
          color: $gw-dark-blue !important;
          background-color: $gw-hover-buff;
        }
    
        &:focus {
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(3, 60, 90, 0.25);
        }
      }
    }
  }
  
  #user_utility_links {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 0;
  
    .dropdown a, .notify-number {
      color: $gw-white;
      padding: 0;
  
      &:hover, &:focus {
        background-color: transparent;
        color: $gw-white;
      }
    }
  
    .open .dropdown-menu {
      position: absolute;
      background-color: $gw-dark-blue;
    }
  
    .notify-number span {
      padding: 0;
    }
  
    .fa-user {
      padding-left: 1em;
    }
  
    .dropdown-menu li a {
      padding: 0.3em;
      color: $gw-white;
  
      &:hover {
        color: $gw-white;
        background-color: $gw-light-blue;
      }
    }

    @media (min-width: $mobile-breakpoint) {
      margin-top: 0.3rem;

      .dropdown a, .notify-number {
        color: $gw-dark-grey;

      &:hover, &:focus {
        color: $gw-dark-grey;
      }
      }
    }
  }
  
  .navbar-right {
    margin-right: 0;
  }