// navbar and header styling

header {
  height: 20px;
  background-color: $gw-light-blue;

    #masthead {
      height: 100%;
      display: flex;
      align-items: center;
    }
  
    .container-fluid {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  
    @media (min-width: $mobile-breakpoint) {
      height: 7.8em;
      background-color: transparent;

      .container-fluid {
        justify-content: space-between;
      }
    }
}
  
  .navbar {
    min-height: 3em;
  
    .share-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      @media (min-width: $mobile-breakpoint) {
        width: auto;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  
  .navbar-static-top {
    border-width: 0;
  }
  
  .navbar-header {
    display: none;
    align-items: center;
  
    .navbar-brand {
      height: auto;
      padding: 0;
      margin-left: 0 !important;
    }
  
    .title-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      max-width: 25rem;
  
      .institution_name {
        color: $gw-dark-blue;
        font-size: 1.3125rem;
        line-height: 1.3;
      }
  
      .subtitle-wrap a {
        color: $gw-light-blue;
        text-decoration: underline;
  
        &:hover, &:focus {
          color: $gw-hover-orange;
        }
      }
    }
  
    @media (min-width: $mobile-breakpoint) {
      display: flex;
    }
  }
  
  .navbar-inverse {
    background-color: transparent !important;
    border-color: transparent;
  
    @media (min-width: $mobile-breakpoint) {
      background-color: $gw-white !important;
    }
  }
  
  .image-masthead {
    border-bottom: none;
    margin-bottom: 1rem;
  
    .navbar {
      background-color: transparent;
      color: $gw-white;
  
      .active a {
        background-color: transparent;
      }
  
      .navbar-nav a:hover {
        background-color: $gw-light-blue;
        color: $gw-white;
      }
  
      .navbar-nav a:focus {
        background-color: $gw-light-blue;
        outline: none;
      }
  
      .navbar-nav li {
        background-color: transparent;
  
        a {
          color: $gw-white;
          text-transform: none;
        }
      }
  
      @media (min-width: $mobile-breakpoint) {
        background-color: $gw-dark-blue;
      }
    }
  }
  
  .image-masthead .navbar, .navbar-default {
    background-color: $gw-dark-blue;
    border-color: unset;
  
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
  
      .row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-color: $gw-hover-buff;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    
        .navigation-wrap {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: end;
          background-color: $gw-light-blue;
  
          .always-visible {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            #mobile-title {
              font-size: 2.5em;
              font-weight: bold;
              margin-left: 0.3rem;
              color: $gw-white;
  
              &:hover {
                color: $gw-light-grey;
              }
            }
          }
  
          .navbar-toggle {
            border: none;
            width: fit-content;
  
            &:hover, &:focus {
              background-color: transparent;
            }
  
            .icon-bar {
              background-color: $gw-white;
            }
          }
  
          #top-navbar-collapse {
            width: inherit;
            padding-left: 0;
            background-color: $gw-dark-blue;
            border: none;
  
            ul {
              border: none;
              margin-left: 0;
            }
          }
  
          @media (min-width: $mobile-breakpoint) {
            justify-content: center;
          }
        }
    
        @media (min-width: $mobile-breakpoint) {
          background-color: transparent;
          flex-direction: row;
    
          .navigation-wrap {
            flex-direction: row;
            justify-content: end;
            width: 100%;
            background-color: transparent;
  
            .always-visible {
              display: none;
            }
  
            #mobile-title {
              display: none;
            }
          }
        }
      }
    }
  
    .navbar-nav {
      .open > a:hover, .open > a:focus {
        color: $gw-white;
        background-color: $gw-light-blue;
      }
  
      li {
        background-color: transparent;
  
        a {
          color: $gw-white;
          text-transform: none;
  
          &:hover, &:focus {
            color: $gw-white;
            background-color: $gw-light-blue;
          }
        }
      }

      .active > a {
        color: $gw-white;
        background-color: unset;

        &:hover {
          color: $gw-white;
          background: $gw-light-blue;
        }
      }
  
      .open .dropdown-menu > li > a {
        color: $gw-white;
  
        &:hover {
          background-color: $gw-light-blue;
          color: $gw-white;
        }
      }
    }
  
    .col-sm-5 {
      width: auto;
      padding-right: 0;
    }
  
    .searchbar-right {
      width: 90%;
      margin: 0.5em 0;
  
      @media (min-width: $mobile-breakpoint) {
        width: 70%;
      }

      @media (min-width: 880px) {
        width: 100%;
      }
  
      input, .dropdown-toggle {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 2rem;
      }
  
      .input-group-btn {
        left: -4px;
      }
  
      .dropdown-toggle {
        font-weight: 200;
        padding: 0.125em 0.3em;
  
        &:focus {
          height: calc(2rem - 2px);
        }
  
        .dropdown-menu {
          position: absolute;
          font-size: 0.9rem;
          font-weight: 200;
        }
      }
  
      .dropdown-menu > li > a {
        font-weight: 200;
      }

      #search-form-header {
        margin-top: 0;

        .input-group {
          margin-bottom: 0;
        }
      }
  
      #search-field-header {
        border-radius: 4px;
      }
  
      #search-submit-header {
        padding: 0.125rem 0.5rem;
        background-color: transparent;
        border: none;
        color: $gw-white;
  
        &:hover {
          color: $gw-white;
        }
      }
    }
  }
  
  #user_utility_links {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 0;
    margin-right: 0;
  
    .dropdown a, .notify-number {
      color: $gw-white;
      padding: 0;
  
      &:hover, &:focus {
        background-color: transparent;
        color: $gw-white;
      }
    }
  
    .open .dropdown-menu {
      position: absolute;
      background-color: $gw-dark-blue;
    }
  
    .notify-number span {
      padding: 0;
    }
  
    .fa-user {
      padding-left: 1em;
    }
  
    .dropdown-menu li a {
      padding: 0.3em;
      color: $gw-white;
  
      &:hover {
        color: $gw-white;
        background-color: $gw-light-blue;
      }
    }

    @media (min-width: $mobile-breakpoint) {
      margin-top: 0.3rem;

      .dropdown a, .notify-number {
        color: $gw-dark-grey;

      &:hover, &:focus {
        color: $gw-dark-grey;
      }
      }
    }
  }
  
  .navbar-right {
    margin-right: 0;
  }

  