// Homepage styling

.home-content {
  display: flex;
  flex-direction: column;

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
  }

  #home-block-1 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-container {
      margin: 0 8em;

      @media (max-width: 3000px) {
        margin: 0 1.5em;
      }
    }

    h1#home-header {
      margin-top: 0;
      margin-bottom: 0.5em;
      color: $gw-light-blue;
      font-size: 10.5vw;
      font-weight: bold;
      line-height: 0.8em;

      @media (min-width: $mobile-breakpoint) {
        margin-bottom: 0;
      }

      @media (min-width: 1034px) {
        margin-top: 0.8rem;
      }

      //fix for large screens
      @media (min-width: 1650px) {
        font-size: 10vw;
      }
    }

      .gw-logo {
        height: 10em;
        width: auto;
        background-color: $gw-dark-blue;
        margin: 0 0.5em;
        padding: 1em;

        img {
          width: auto;
          height: 100%;
        }
      }

      .intro {
        margin: 0 0.5em;
        padding: 1em;

        p {
          margin: 0 0 1.4rem;
        }

        .button-container > .btn-home:first-child {
          margin-right: 1em;
        }
      }

      @media (max-width: 1019px) {
        margin: 1em 0 0;
      }

      .content-container {
      @media (max-width: $mobile-max) {
        flex-direction: column;

        .gw-logo {
          margin: 0;
          height: 5em;
          width: 100%;
          text-align: center;
        }

        .intro {
          margin: 0em;
          padding: 1em;

          h2 {
            font-weight: 300;
            font-size: 1.3em;
          }

          p {
            margin: 0 0 0.8rem;
          }
        }

        .button-container > a {
          width: 100%;
          margin: 0.2em 0;
        }
      }
    }
  }

    #home-block-2 {
      .content-container {
        flex-direction: row;
        align-items: flex-start;

        #browse-category,
        #recently-uploaded {
          width: 50%;
          padding: 1.5em;
          display: flex;
          flex-direction: column;

          .content-container {
            height: 21vw;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            #categories-container,
            #categories-tooltip {
              padding: 2em 0.5em 0.5em 0.5em;
            }

            #categories-container {
              width: 70%;
              text-align: center;
              display: flex;
              flex-direction: column;
            }

            #categories-tooltip {
              display: flex;
              flex-direction: row;

              #arrow-left {
                width: 0; 
                height: 0; 
                margin-top: 0;
                border-top: 1.2em solid transparent;
                border-bottom: 1.2em solid transparent; 
                border-right: 1.2em solid $gw-hover-buff; 
              }

              #tooltip-box {
                width: 9em;
                height: 16em;
                display: flex;
                align-items: center;
                padding: 3em 1.5em;
                background-color: $gw-hover-buff;
                text-align: center;
                color: $gw-dark-blue;

                  @media (max-width: 1590px) {
                    width: 9em;
                  }
              }
            }
          }

          @media (min-width: 2050px) {
            height: 21vw;
          }
        
          @media (max-width: 3000px) {
            .content-container {
              padding: 0;
              margin: 0;

              #categories-container, #categories-tooltip {
                padding: 0 0.5em 0.5em 0;
              }
            }
          }

          @media (max-width: 1300px) {
            .content-container {
              height: 19em;
              margin: 0;

              #categories-container, #categories-tooltip {
                padding: 1em 0 0 0.5em;
              }
            }
          }
        }

        #recently-uploaded {
          height: 100%;

          #recent_docs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.5em;

            .recent-work {
              width: 12vw;
              margin: 0.5em 0.5em;
              display: flex;
              align-items: baseline;
              min-height: 18.5vw;

              .image-wrapper {
                position: relative;
                overflow: hidden;
                height: 15.5vw;
                width: 12vw;

                .recent-thumbnail {
                  height: 100%;
                  display: flex;
                  width: auto;
                  background-color: $gw-white;
                  justify-content: center;
                }

                a {
                  color: $gw-white;
                  img {
                    transition: transform .5s;
                  }

                  &:hover {
                    color: $gw-hover-buff;

                    img {
                      transform: scale(1.3);
                    }
                  }

                  img {
                    width: 100%;
                    height: auto;
                  }
                }
  
                .recent-title {
                  width: calc(100% + 1px);
                  height: 50%;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: $gw-light-blue;

                  .title-wrapper {
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    padding: 0 1em;
                    overflow: hidden;
                    max-width: 100%;
                    text-align: center;
  
                    h3 {
                      font-size: 1em;
                      text-decoration: underline;
                      --max-lines: 4;
                      --line-height: 1.2;
                      max-height: calc(var(--max-lines) * 1em * var(--line-height));
                      line-height: var(--line-height);
                      position: relative;

                      &:hover {
                        color: $gw-hover-buff;
                      }
                    }
                  }
                }
              }

              .keyword-wrapper {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                max-width: 100%;
                
                .recent-field {
                  --max-lines: 2;
                  --line-height: 1.4;
                  height: calc(var(--max-lines) * 1em * var(--line-height));
                  line-height: var(--line-height);
                  position: relative;
                }
              }

              @media (max-width: 1300px) {
                width: 14vw;

                .image-wrapper {
                  position: relative;
                  overflow: hidden;
                  height: 18.1vw;
                  width: 14vw;

                  .recent-title {
                    height: 60%;
                  }
                }

              }

              @media (max-width: 940px) {
                width: 26.5vw;
                height: 100%;

                .image-wrapper {
                  position: relative;
                  overflow: hidden;
                  height: 35vw;
                  width: 26.5vw;

                  .recent-title {
                    height: 50%;
                  }
                }
              }
            }

            @media (max-width: $mobile-max) {
              flex-direction: column;
              width: 80%;
              align-items: center;

              .recent-work {
                margin: 2em 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image-wrapper {
                  height: 90.5vw;
                  width: 70vw;

                  .recent-title {
                    height: 40%;
                  }
                }
              }
            }
          }

          @media (max-width: 1280px) {
            height: unset;
          }
        }

        @media (max-width: 940px) {
          flex-direction: column;

          #browse-category,
          #recently-uploaded {
            width: 100%;
            height: unset;
            padding: 1.5em 0;

            .content-container {
              height: unset;
              margin: 0;
              flex-direction: row;

              #tooltip-box {
                width: 20vw;
              }

              @media (max-width:445px) {
                #categories-container {
                  .btn-categories {
                    padding: 0.3rem 0.3rem;
                  }
                }

                #categories-tooltip {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }

    #home-block-3 {
      .content-container {
        margin: 0;

        #collections-bg {
          width: 100%;
          height: 10rem;
          position: absolute;
          background-color: $gw-light-blue;
        }

        #collections {
          width: 100%;
          padding: 1.5em;
          margin: 0;
          z-index: 20;

          #featured-h2 {
            margin: 0 1em;
            width: 50%;
          }

          .content-container {
            width: 100%;
            flex-direction: row;
            padding: 2em 0;
            justify-content: space-around;

            .home-collections {
              width: fit-content;
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              .home-collection {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .circle {
                  width: 11em;
                  height: 11em;
                  margin: 1em;
                  padding: 1.5em;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  border-radius: 50%;
                  background-color: $gw-dark-blue;
                  color: $gw-white;
                  font-weight: bold;
                  font-size: 1.5em;
                  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    
                  &:hover {
                    background-color: $gw-hover-buff;
                    color: $gw-dark-blue;
                    text-decoration: none;
                  }
                }
              }
            }

            .btn-coll {
              width: 15rem;
              margin-bottom: 2.5rem;
            }

            @media (max-width: 1280px) {
              flex-direction: column;

              .home-collections {
                margin-bottom: 1em;
              }
            }

            @media (max-width: 952px) {
              .home-collections {
                flex-direction: column;
              }
            }
          }

          @media (max-width: 1280px) {
            padding: 1.5em 0;

            #featured-h2 {
              width: 90%;
            }
          }
        }
      }
    }
}
