// Share Your Work page styles

.share-header-text {
    margin-bottom: 0;
    color: $gw-light-blue;
    font-size: 7.5vw;
    font-weight: 200;

    @media (min-width: 1786px) {
        font-size: 6.5em;
    }
}

.deposit-info-wrapper {
    display: flex;
    flex-direction: row;

    p {
        text-align: center;
    }

    .deposit-etd,
    .deposit-etc {
        width: 50%;
        padding: 2em 1em;
    }

    @media (max-width: $mobile-max) {
        flex-direction: column;

        .deposit-etd,
        .deposit-etc {
            width: 100%;
        }
    }
}

#accordionQA {
    button:focus {
        outline: none;
    }
}

// About Page Styles
.about-header-text {
    margin-bottom: 0;
    color: $gw-light-blue;
    font-size: 7.5vw;
    font-weight: 200;

    @media (min-width: $mobile-breakpoint) {
        font-size: 6.4vw;
    }

    @media (min-width: 1105px) {
        font-size: 5vw;
    }

    @media (min-width: 1666px) {
        font-size: 5.8em;
    }
}

//contact page
#new_contact_form {
    display: flex;
    flex-direction: column;
    align-items: end;
  
    .form-group {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  
    input[type="submit"] {
      margin-right: 15px;
      width: 10em;
    }
  }

  //login page
  .login-container {
    &.main-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-box-container {
        width: min-content;
        margin-bottom: 1rem;
        padding: 1rem;

        #user_email,
        #user_password {
            color: $gw-dark-blue;
        }
    }

    p.or {
        margin: 1rem 0;
    }

    .reset-actions {
        margin-bottom: 1rem;
    }

    .login-return a {
        text-decoration: underline;
    }

    @media (max-width: $mobile-max) {

        .login-box-container {
            margin-bottom: 2rem;
        }
    }
  }