<div id="home-block-1">
    <h1 id="home-header">GW ScholarSpace</h1>
    <div class="content-container">
        <div class="gw-logo">
            <%= image_tag 'footer_logo.png', alt: 'GW Logo' %>
        </div>
        <div class="intro">
            <h2 id="home-header">The George Washington University's Institutional Repository</h2>
            <p>As the George Washington University's institutional repository, GW ScholarSpace provides free, public access, broad visibility, and long-term preservation for the research and scholarly works created by GW's faculty, staff, and students, including electronic theses and dissertations (ETDs).</p>
            <div class="button-container">
                <a class="btn-base gw-ghost-btn btn-home" href="/catalog">Browse the Repository</a>
                <a class="btn-base gw-ghost-btn btn-home" href="/share">Share Your Work</a>
            </div>
        </div>
    </div>
</div>