<div id="home-block-3" class="section-gw-white">
    <div class="content-container">
        <div id="collections-bg"></div>
        <div id="collections">
            <h2 class="h2-section-header" id="featured-h2">Featured Collections</h2>
            <div class="content-container">
                <div class="home-collections">
                    <div class="home-collection">
                        <a class="circle" href="/collections/rb68xc712">The George Washington University Undergraduate Review</a>
                        <a class="browse" href="/collections/rb68xc712">Browse this collection ⟶</a>
                    </div>
                    <div class="home-collection">
                        <a class="circle" href="/collections/kp78gh04d">US Military bases in Okinawa: United States Government Documents</a>
                        <a class="browse" href="/collections/kp78gh04d">Browse this collection ⟶</a>
                    </div>
                    <div class="home-collection">
                        <a class="circle" href="/collections/ff365623w">The Capitol Economics Journal</a>
                        <a class="browse" href="/collections/ff365623w">Browse this collection ⟶</a>
                    </div>
                </div>
                <a class="btn-base gw-ghost-btn btn-coll" href="/collections">Browse all collections ⟶</a>
            </div>
        </div>
    </div>
</div>