<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text">
    <%= displayable_content_block @marketing_text, class: 'col-sm-offset-0 col-sm-11 col-md-offset-0', style: 'color: white; font-size: 20px' %>
  </div>
<% end %>
