solr
sidekiq_conf
tomcat_conf
.env.example
docker-compose.yml
Dockerfile*
.bundle
.git
.cache
log/*.*
.env
.gitignore
apache_conf/server.crt
apache_conf/server.csr
apache_conf/server.key
apache_conf/server.key.secure
bin/importer
config/environments/*.rb
config/initializers/bulkrax.rb.backup
config/initializers/bulkrax.rb.backup2
config/initializers/hyrax.rb
config/initializers/hyrax.rb.backup
config/database.yml
config/fedora.yml
config/solr.yml
config/blacklight.yml
config/secrets.yml
fits.log
method_tracer.rb
nohup.out
public/assets/
public/sitemap.xml
vendor/
/db/*.sqlite3
/db/*.sqlite3-journal
.byebug_history