
docker-compose.yml
Dockerfile*
.env.example
.travis.yml
method_tracer.rb
nohup.out
.gitignore
.bundle
.git
.byebug_history
fits.log
bin/importer
db/*.sqlite3
db/*.sqlite3-journal
public/assets
public/sitemap.xml
log/*.*
vendor
sidekiq_conf
tomcat_conf
apache_conf
docs