ROOT_URL="scholarspace.library.gwu.edu"
# v2
RECAPTCHA_SITE_KEY='your_recaptcha_v2_site_key'
RECAPTCHA_SECRET_KEY='your_recaptcha_v2_secret_key'
# v3
RECAPTCHA_SITE_KEY_V3='your_recaptcha_v3_site_key'
RECAPTCHA_SECRET_KEY_V3='your_recaptcha_v3_secret_key'
# only let through requests that Google gives a score of > this score (between 0 and 1),
# where 1.0 is very likely a good interaction, 0.0 is very likely a bot;
# If the initial request fails to pass, our code (currently) falls back to a v2 reCAPTCHA challenge.
# See https://developers.google.com/recaptcha/docs/v3
RECAPTCHA_MINIMUM_SCORE=0.8

# Dev environment admin
DEV_ADMIN_USER_EMAIL="admin@example.com"
DEV_ADMIN_USER_PASSWORD="password"