<div class="submit-buttons">
    <%= link_to t('blacklight_advanced_search.form.start_over'), blacklight_advanced_search_engine.advanced_search_path, :class =>"btn-base gw-ghost-btn advanced-search-start-over" %>

    <%= submit_tag t('blacklight_advanced_search.form.search_btn'), :class=>'btn-base gw-btn advanced-search-submit', :id => "advanced-search-submit" %>
</div>