<% provide :page_title, "More Search Options" %>

<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<div class="section-advanced">

  <div class="advanced-search-form content-container">
    <div class="header-container">
      <h1>
          <%= t('blacklight_advanced_search.form.title') %>
      </h1>
    </div>

      <div class="adv-search-container">

          <div class="main-form">
              <%= render 'advanced_search_form' %>
          </div>
          <div class="extra-facets">
              <%= render "advanced_search_help" %>
          </div>

      </div>

  </div>
</div>