<div id="feature-block">
  <div class="feature-block featured1">
    <a href="https://scholarspace.library.gwu.edu/catalog?f%5Bgw_affiliation_sim%5D%5B%5D=GW+Institute+of+Public+Policy"><div>GW Institute of Public Policy</div>
    <img src="/assets/featured_gwipp_336px.png"></a>
  </div>
  <div class="feature-block featured2">
    <a href="https://scholarspace.library.gwu.edu/catalog?f%5Bgw_affiliation_sim%5D%5B%5D=Eleanor+Roosevelt+Papers+Project"><div>Eleanor Roosevelt Papers</div>
    <img src="/assets/featured_erpapers_336px.png"></a>
  </div>
  <div class="feature-block featured3">
    <a href=""><div>Electronic Theses and Dissertations</div>
    <img src="/assets/featured_etds_336px.png"></a>
  </div>
  <div class="feature-block featured4">
    <a href="https://scholarspace.library.gwu.edu/catalog?_=1475699435268&f%5Bgw_affiliation_sim%5D%5B%5D=Economics"><div>GW Department of Economics</div>
    <img src="/assets/featured_econ_336px.png"></a>
  </div>
</div>

<% if false %>
<%= link_to 'View other featured researchers', sufia.featured_researchers_path %>
<%= editable_content_block @featured_researcher, true %>
<% end %>
