<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-right">
      <div class="navbar-text text-right">

        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Share Your Work</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Accessibility</a></li>
          <li class="last"><a href="/users/sign_in">Login</a></li>
       
          <%#= t('sufia.footer.copyright_html') %>

        </ul>
        <!--<p><%= t('sufia.background_attribution') %></p>-->
      </div>
    </div>
    <div class="navbar-text text-left">
        <p>GW ScholarSpace is built on Sufia v<%= Sufia::VERSION %>, part of <a href="http://projecthydra.org/" class="navbar-link" target="_blank">Project Hydra</a></p>
        <p><a href="https://library.gwu.edu">GW Libraries</a> 2130 H Street NW &bull; Washington DC 20052 &bull; 202.994.6558 &bull; gelman@gwu.edu</p>
    </div>
  </div>
</footer>
