
<div class="no-preview">
<%= t('hyrax.works.show.no_preview') %>
<% if (Hyrax.config.display_media_download_link?) && (file_set.visibility == 'open') %>
  <p/><%= link_to t('hyrax.file_set.show.downloadable_content.default_download'),
    hyrax.download_path(file_set, :disposition => "attachment"),
    id: "file_download",
    data: { label: file_set.id },
    class: "gw-btn",
    target: "_new" %>
  <p/><%= link_to t('hyrax.file_set.show.downloadable_content.default_new_tab'),
    hyrax.download_path(file_set, :disposition => "inline"),
    id: "file_download",
    data: { label: file_set.id },
    class: "gw-btn",
    target: "_new" %>
  <% if (Rails.configuration.respond_to?(:accessibility_url)) && (@presenter.respond_to?(:permanent_url))  %>
    <p class="accessibility-form-link"/><%= link_to t('hyrax.accessibility.link_label'),
    Rails.configuration.accessibility_url % {gwss_item_url: u(@presenter.permanent_url)},
    id: "accessibility_form",
    target: "_new" %> 
  <% end %>
<% end %>
</div>