development:
  adapter: solr
  url:  <%=ENV['SOLR_URL'] || 'http://127.0.0.1' %>:<%= ENV['SOLR_PORT'] || ENV['SOLR_PORT'] %>/solr/<%= ENV['SOLR_CORE_DEV'] || 'hydra-development' %>
test: &test
  adapter: solr
  url: <%=ENV['SOLR_URL'] || 'http://127.0.0.1'%>:<%= ENV['SOLR_PORT'] || ENV['SOLR_PORT'] %>/solr/<%= ENV['SOLR_CORE_TEST'] || 'hydra-test' %>
production:
  adapter: solr
  url: <%=ENV['SOLR_URL']%>:<%= ENV['SOLR_PORT'] %>/solr/<%= ENV['SOLR_CORE_PROD'] %>

