default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: YOURDBUSER
  password: YOURDBPWD
  pool: 5
  timeout: 5000

development:
  database: YOURDEVDBNAME
  <<: *default

production:
  database: YOURPRODDBNAME
  <<: *default

test:
  database: YOURTESTDBNAME
  <<: *default
