default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV["HYRAX_DB_HOST"] || "localhost" %>
  username: <%= ENV["HYRAX_DB_USER"] %>
  password: <%= ENV["HYRAX_DB_PASSWORD"] %>
  pool: 5
  timeout: 5000

development:
  database: <%= ENV["HYRAX_DB_DEV"] %>
  <<: *default

production:
  database: <%= ENV["HYRAX_DB_PROD"] %>
  <<: *default

test:
  database:<%= ENV["HYRAX_DB_TEST"] %>
  <<: *default
