# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 16e6ec025b9bb140d6c3595e3378c356036ded5352c273c9be237c1a4d67750f556a01c48bb8ebbaf6ca6c6b71173c6bdbd5bd46a7598dbb1654c3c6b54875af

test:
  secret_key_base: ebd2e59c64d807ae36cbc704f180c7c3a4f9611f7a9dbe095f84a7d7009ca345ce2ef358aa016e1cdf66eca299f91e3ffb269f53e63e1262469f995715f577bb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
