# This is a sample config file that points to a solr server for each environment
development:
  url: <%=ENV['SOLR_URL_DEV'] %>:<%= ENV['SOLR_PORT_DEV'] %>/solr/<%= ENV['SOLR_CORE_DEV'] %>
test:
  url: <%=ENV['SOLR_URL_TEST'] || 'http://localhost' %>:<%= ENV['SOLR_PORT_TEST'] %>/solr/<%= ENV['SOLR_CORE_TEST'] %>
production:
  url: <%=ENV['SOLR_URL_PROD'] %>:<%= ENV['SOLR_PORT_PROD'] %>/solr/<%= ENV['SOLR_CORE_PROD'] %>
