<h2 id="deposit">Deposit</h2>
<h4>How do I deposit my scholarly works?</h4>
<p>To deposit your non-ETD works to GW ScholarSpace, please use the <a href="https://library.gwu.edu/scholarspace/submit/">GW ScholarSpace Deposit Form</a>.</p>
<p>Electronic theses and dissertations also should not be submitted directly to GW ScholarSpace. The <a href="https://library.gwu.edu/etd">ETD site</a> provides information on depositing theses and dissertations.</p>
<p>The form requires you to read and agree to the terms of the Deposit Agreement in order to submit your works. Once you have reviewed these terms, check the box and continue with the rest of the form.</p>
<p> After submitting the form, you will receive an automatic email response confirmation to acknowledge that your works were successfully submitted. You will receive another notification email when your works become viewable in GW ScholarSpace.</p>
<p> If you any questions about this process or are having problems, please <a href="contact">contact us</a>.</p>
<h4>Which works may I contribute to GW ScholarSpace?</h4>
<p>Works produced or sponsored by GW faculty, researchers, and staff may be shared through GW ScholarSpace, as well as student works sponsored by GW faculty or programs.</p>
<h4>Which types of works are appropriate for GW ScholarSpace?</h4>
<p> Appropriate types of work may include, but are not limited to theses and dissertations, journal pre-prints and post-prints, datasets, working papers, technical reports, conference papers, student works, annual reports, and newsletters.</p>
<h4>Can I submit a student work other than a theses or dissertation?</h4>
<p> Students wishing to submit Capstone papers, published articles, or other works to GW ScholarSpace must provide a written endorsement (emails accepted) from their faculty advisor or a faculty sponsor to openaccess@gwu.edu at the time of their submission. In the subject line of the email, please include: "GW ScholarSpace Faculty Endorsement".</p>
<h4>What are the advantages of submitting my works to GW ScholarSpace?</h4>
<ul>
<li>Enduring links to each of your scholarly publications ensure long-term access.</li>
<li>Enhanced exposure to Google Scholar and other search engines increases your works' visibility.</li>
</ul>
<h4>What is the maximum size of files that can be uploaded to GW ScholarSpace?</h4>
<p>GW ScholarSpace has an upload size limit of 25 MB. If you would like to upload multiple files or a file larger than 25 MB, please send an email to scholarspace@gwu.edu.</p>
<h4>Do I need to fill in all of the fields on the deposit form when submitting my work?</h4>
<p>You, or a designated depositor, will need to fill in the required fields on the deposit form and accept the <a href="agreement">Deposit Agreement</a> before being able to submit your work.
<p>Providing more information in the optional fields will increase the discoverability of your work within GW ScholarSpace.</p>
<h4>Will the public be able to see my works?</h4>
<p>Yes, GW ScholarSpace is intended for public access. However, if your publisher requires a temporary embargo, we can facilitate that (see <a href="http://library.gwu.edu/about/faculty-open-access">Open Access Resolution</a>).</p>
<p>Embargoes for electronic theses and dissertations are handled separately; see the <a href="https://library.gwu.edu/etd">ETD site</a> for more information.</p>

<p>Works deposited to GW ScholarSpace are publicly discoverable except where embargoed.</p>
<h4>What kinds of materials should <em>not</em> be submitted to GW ScholarSpace?</h4>
<p>GW ScholarSpace is not appropriate for works that include sensitive data such as personally identifiable information (PII) or protected health information (PHI).</p>
<p>Electronic theses and dissertations also should not be submitted directly to GW ScholarSpace. The <a href="https://library.gwu.edu/etd">ETD site</a> provides information on depositing theses and dissertations.</p>
<h4>What file formats are accepted in GW ScholarSpace?</h4>
<p> GW ScholarSpace welcomes works in most digital formats; however, using recommended <a href="about#preservation-formats">preservation formats</a> will facilitate long-term preservation and usability.</p>
<h4>What do I need to do before submitting my work to GW ScholarSpace?</h4>
<p>You must read and agree to the <a href="terms">Terms of Use</a> and terms of the <a href="agreement">Deposit Agreement</a> in order to submit your works.</p>
<h4>What is a Creative Commons license?</h4>
<p>GW ScholarSpace allows copyright holders to apply specific creative commons licenses to their works. For more information on Creative Commons, please see the Creative Commons official website.</p>
<h2 id="support">Support</h2>
<p>If you need to report a problem using GW ScholarSpace, or would like to request assistance, consultation, or share feedback, please submit your issue via the <a href="contact">contact form</a>.</p>
<p>System Maintenance Hours: To keep systems running at peak performance, and to ensure the best possible service, routine testing and maintenance are performed during the daily maintenance window from 5:00 a.m. to 7:00 a.m. EST/EDT. During this time, systems and services may be affected.</p>
