<h2>Table of Contents</h2>
<a href="#user-support"><i>User Support</i></a>
<br />
<a href="#browse"><i>Browse</i></a>
<br />
<a href="#search"><i>Search</i></a>
<br />
<a href="#deposit"><i>Deposit</i></a>

<h1 id="user-support">User Support</h1>
<p>If you need to report a problem using GW ScholarSpace, or would like to request service assistance, consultation, or share feedback, please submit your issue via the <a href="contact">Contact Form</a>.</p>
<p>System Maintenance Hours: To keep systems running at peak performance, and to ensure the best possible service, routine testing and maintenance are performed during the daily maintenance window from 5:00 a.m. to 7:00 a.m. EST/EDT. During this time, systems and services may be affected.</p>

<h1 id="browse">Browse</h1>
<p>From the main page of GW ScholarSpace you can browse using the <u>Browse the scholarly works of The George Washington University</u> link.</p>

<h1 id="search">Search</h1>
<p>GW ScholarSpace allows you to conduct a Basic or Advanced Search of its works.</p>

<p>You may conduct a Basic Search using the search bar:</p>

<p><%= image_tag 'searchbar.jpg' %>

<p>Or, you may conduct an <a href="search">Advanced Search</a> using more specific criteria such as type of work, date created, GW affiliation, etc.  The Advanced Search page lists a number of search tips.

<h1 id="deposit">Deposit</h1>
<p>Please use the <a href="http://library.gwu.edu/scholarspace/submit">Deposit Form</a> to submit your works to GW Scholarspace.</p>

<p>The form requires you to read and agree to the terms of the <a href="agreement">Deposit Agreement</a> in order to submit your works. Once you have reviewed these terms, check the box and continue with the rest of the form.</p>

<p>After submitting the form, you will receive an automatic email response confirmation to acknowledge that your works were successfully submitted. You will receive another notification email when your works become viewable in GW ScholarSpace.</p>

<p>If you any questions about this process or are having problems, please <a href="contact">contact us</a>.</p>
