<ul class="list-unstyled catalog">
<% collections.each do |collection| %>
  <li class="document collections-list">
    <div class="row search-result-wrapper">
    <%= link_to [hyrax, collection] do %>
        <%= render_thumbnail_tag(collection, { class: 'hidden-xs file_listing_thumbnail', alt: "#{collection.title_or_label} #{ t('hyrax.homepage.admin_sets.thumbnail')}" },
                                 { suppress_link: true }) + collection.title_or_label %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>