// General styling

html {
    font-size: 1rem;
    font-weight: 200;
  }
  
  body,
  div.section-gw-white {
    position: relative;
    background-color: $gw-white;
    min-height: 100vh;
    margin-bottom: 0;
    color: $gw-dark-blue;
    font-family: $font-family-sans-serif-fallback;
    font-size: 1rem;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
  
    @supports (font-variation-settings: normal) {
      font-family: $font-family-sans-serif;
    }

    p a {
      text-decoration: underline;
    }

    strong {
      font-weight: 400;
    }
    
    a {
      color: $gw-light-blue;
    
      &:hover, &:focus {
        color: $gw-hover-orange;
      }
    }
    
    h1 {
      margin-top: 0;
      margin-bottom: 0.25em;
      font-size: 3em;
      font-weight: inherit;
      color: $gw-dark-blue;
      line-height: 1.125em;
    }
    
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0.1em;
      color: $gw-dark-blue;
      font-size: 1.9em;
      font-weight: inherit;
      line-height: 1.2em;
    }
    
    h3 {
      margin: 0.3rem 0;
      font-size: 1.3rem;
    }
    
    h3, dt, thead th, .label {
      font-weight: 400;
    }
  }

  div.section-gw-white,
  div.section-gw-darkblue {
    h2.h2-section-header {
      font-size: 1.7em;

      &:after {
        content:' ';
        display: block;
        border: 2px solid $gw-buff;
      }
    }
  }

  div.section-gw-white {
    min-height: auto;
    
    .gw-white-content {
      padding: 1.5em 0 0 0;
      
      li a {
        text-decoration: underline;
      }
    }
  }

  div.section-gw-darkblue {
    background-color: $gw-dark-blue;
    color: $gw-white;

    p {
      margin: 5px 0;

      &:last-child {
        margin: 5px 0 0;
      }
    }

    a {
      color: $gw-hover-buff;
    
      &:hover, &:focus {
        color: $gw-buff;
      }
    }

    a.gw-btn {
      color: $gw-white;
    }

    h1,
    h2 {
      color: $gw-white;
    }
  }
  
  textarea {
    resize: none;
  }
  
  .btn-base {
    display: inline-block;
    margin: 0;
    border-radius: 0.25rem;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;

    &.gw-btn {
      padding: 0.3rem 0.75rem;
      border: 2px solid $gw-light-blue;
      background-color: $gw-light-blue;
      color: $gw-white;
    }

    &.gw-ghost-btn {
      padding: 0.3rem 2rem;
      border: 2px solid $gw-dark-blue;
      background-color: $gw-white;
      color: $gw-dark-blue;
    }

    &.btn-home {
      width: 14rem;
    }

    &.btn-categories {
      width: 100%;
      margin: 0.2em 0;
      padding: 0.3rem 1rem;
      border: 2px solid $gw-white;
      background-color: $gw-white;
      color: $gw-dark-blue;
    }

    &:disabled {
      opacity: 0.65;
    }
  
    &:hover, 
    &:focus {
      text-decoration: none;
      color: $gw-dark-blue !important;
      border-color: $gw-hover-buff;
      background-color: $gw-hover-buff;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(3, 60, 90, 0.25);
    }
  }
  
  form label {
    font-weight: 400;
  }
  
  .container-fluid {
    width: 100%;
    max-width: 72rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  
    &::before, &::after {
      display: none;
    }
  
    .dropdown-menu {
      background-color: $gw-dark-blue;
      padding: 0;
      border-radius: 0;
      
      li a {
        color: $gw-white;
        font-weight: inherit;
        text-decoration: none;
  
        &:hover {
          background-color: $gw-light-blue;
        }
      }
    }
  }
  
  .accessibility-form-link {
    padding-top: 2.5em;
  }
  
  .alert-info a {
    color: $gw-light-blue;
    text-decoration: underline; 
  }
  
  #content-wrapper {
    padding-bottom: 20rem;
  
    @media (min-width: $mobile-breakpoint) {
      padding-bottom: 10.5rem;
    }
  }
  
  .alert-info, .alert-success {
    background-color: $gw-dark-blue;
    color: $gw-white;
    border: none;
    border-radius: 0;
  
    a {
      padding: 0.3em;
      color: $gw-white;
      background-color: $gw-light-blue;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .close {
      top: 0;
      opacity: 1;
      text-shadow: none;
      color: $gw-white;
    }
  }
  
//Log In or Sign Up
.login-container {
  padding: 0 3em;

  p {
    margin: 0;
  }

  label {
    margin-bottom: 0;
  }

  .field {
    margin-bottom: 0.5em;
  }

  .actions input[type="submit"] {
    @extend .btn-base;
    @extend .gw-btn;
  }

  input[type="checkbox"] {
    margin: 0 0.5em 0 0;
  }

  #remember-me {
    display: flex;
  }
}