$gw-dark-blue: #033c5a;
$gw-light-blue: #28659A;
$gw-buff: #AA9868;
$gw-hover-buff: #D9D0BB;
$gw-hover-orange: #A75523;
$mobile-breakpoint: 767px;
$mobile-max: 766px;
$gw-white: #fff;
$gw-dark-grey: #444;
$gw-light-grey: #eee;

$font-family-sans-serif-fallback: Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Gibson VF", $font-family-sans-serif-fallback;