//Mixins and Variables

@mixin font-face($family, $src, $weight, $style) {
  @font-face {
    font-family: $family;
    src:
      url("#{$src}.woff2") format("woff2"),
      url("#{$src}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Gibson VF", "/fonts/GibsonVF-Regular", 100 900, normal);
@include font-face("Gibson VF", "/fonts/GibsonVF-Italic", 100 900, italic);
$font-family-sans-serif-fallback: Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Gibson VF", $font-family-sans-serif-fallback;

// General
html {
  font-size: 1rem;
  font-weight: 200;
}

body {
  position: relative;
  min-height: 100vh;
  margin-bottom: 0;
  color: #444;
  font-family: $font-family-sans-serif-fallback;
  font-size: 1rem;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  line-height: normal;

  @supports (font-variation-settings: normal) {
    font-family: $font-family-sans-serif;
  }
}

.container-fluid {
  width: 100%;
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &::before, &::after {
    display: none;
  }

  .dropdown-menu {
    background-color: #033c5a;
    padding: 0;
    
    li a {
      color: #fff;
    }
  }
}

.accessibility-form-link {
  padding-top: 2.5em;
}

.alert-info a {
  color: #28659A;
  text-decoration: underline; 
}

.content-wrapper {
  padding-bottom: 9.5rem;
}

// navbar and header styles
header .container-fluid {
  height: 7.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  display: flex;
  align-items: center;

  .navbar-brand {
    height: auto;
    padding: 0;
    margin-left: 0 !important;
  }

  .title-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    max-width: 21rem;

    .institution_name {
      color: #033c5a;
      font-size: 1.3125rem;
      line-height: 1.3;
    }

    .subtitle-wrap a {
      text-decoration: underline;
    }
  }
}

.navbar-inverse {
  background-color: #fff;
  border-color: transparent;
}

.image-masthead {
  border-bottom: none;
  margin-bottom: none;

  .navbar {
    background-color: #033c5a;
    color: #fff;

    .navbar-nav li {
      background-color: transparent;

      a {
        color: #fff;
        text-transform: none;
      }
    }
  }
}

.navbar, .navbar-default {
  background-color: #033c5a;
  color: #fff;
  border-color: unset;

  .row {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .navigation-wrap {
      display: flex;
      flex-direction: row;
    }
  }

  .navbar-nav li {
    background-color: transparent;

    a {
      color: #fff;
      text-transform: none;
    }
  }

  .col-sm-5 {
    width: auto;
    padding-right: 0;
  }

  .searchbar-right {
    width: 25rem;

    input, .dropdown-toggle {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      height: 2rem;
    }

    .dropdown-toggle {
      font-weight: 200;

      &:focus {
        height: calc(2rem - 2px);
      }

      .dropdown-menu {
        font-size: 0.9rem;
        font-weight: 200;
      }
    }

    .dropdown-menu > li > a {
      font-weight: 200;
    }

    #search-submit-header {
      background-color: transparent;
      border: none;
    }
  }
}

#user_utility_links {

  .dropdown a, .notify-number {
    color: #444;

    &:hover {
      color: #444;
    }
  }

  .dropdown-menu li a, .dropdown-menu li a:hover {
    color: #fff;
  }
}

// Footer styles
footer {
  position: absolute;
  bottom: 0;
  height: 9.5rem;
  width: 100%;

  .footer-lower {
    height: 100%;
  }
}