<a id="logo" class="navbar-brand" href="https://library.gwu.edu" data-no-turbolink="true" aria-label="GW Libraries and Academic Innovation"><%= image_tag 'logo.png', alt: 'GW Logo' %></a>
<div class="title-wrap">
  <a id="product_name" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
    <span class="institution_name"><%= application_name %></span>
  </a>
  <div class="subtitle-wrap"><span class="subtitle"><%= t(:'hyrax.footer.service_html') %></span></div>
</div>
