<a class="navbar-brand libraries-logo" href="https://library.gwu.edu">
  <img src="https://scholarspace.library.gwu.edu/assets/gw_iddol_libraries_wht_rev-58be0b47e2d7f727e8ed4b54cd19141536a3d76c02ea881dbc32b39c496a9775.png" alt="logo: GW Libraries">
</a>
<a id="logo" class="navbar-brand" href="<%= sufia.root_path %>" data-no-turbolink="true">
  <!--<span class="glyphicon glyphicon-globe"></span>-->
  <span class="institution_name"><%=application_name %></span>
</a>
