<header aria-label="header">
  <nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation" aria-label="masthead">
    <h1 class="sr-only"><%= application_name %></h1>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= render '/logo' %>
      </div>

      <!-- toggle user util links, depending on sign in status-->
      <%= render '/user_util_links' %>
      </div>
    </div>
  </nav>
</header>
<%= render '/shared/select_work_type_modal', create_work_presenter: standard_work_types_presenter %>
