<h1><%= ApplicationController.helpers.application_name %> Deposit Agreement</h1>
<p>
I hereby grant to the George Washington University a perpetual royalty-free non-exclusive license  to retain, reproduce and distribute the deposited this work (the Work) in whole or in part, in and from its electronic format. This agreement does not represent a transfer of copyrights to the George Washington University.
</p>
<p>
I understand that the purpose of <%= ApplicationController.helpers.application_name %> is to provide perpetual access to this Work. In order to support that, I agree that the George Washington University may make and keep more than one copy of the Work for purposes of security, backup, preservation and access, and may migrate the Work to any medium or format for the purpose of preservation and access in the future. The University will not make any alteration, other than as allowed by this agreement, to the Work.
</p>
<p>
I represent and warrant to the University that the Work is my original work. I also represent that the Work does not, to the best of my knowledge, infringe or violate any rights of others.
</p>
<p>
I further represent and warrant that I have obtained all necessary rights to permit the University to reproduce and distribute the Work and that any third-party owned content is clearly identified and acknowledged within the Work. 
</p>
<p>
By granting this license, I acknowledge that I have read and agreed to the terms of this agreement and all related <a href="http://compliance.gwu.edu/find-policy">George Washington University policies</a> and <a href="terms"><%= ApplicationController.helpers.application_name %> guidelines</a>.
</p>
<p>
FOR AUTHORIZED DEPOSITORS / DESIGNEES / PROXIES
I represent that I am the author or that I am authorized by the author(s) to execute this Deposit agreement on behalf of the Author(s).
</p>
