<h1>Terms of Use for <%= ApplicationController.helpers.application_name %></h1>
<p>
1. <strong>General:</strong> Welcome to the <%= ApplicationController.helpers.application_name %> web site (“Site”) maintained by the George Washington University Libraries (“GW”) in support of our mission to disseminate information and research to scholars, educators, and the public. As used in these Terms of Use, the terms "we, "us," and "our" refer to the Libraries and the George Washington University. By accessing or using the Site or any of its content, you accept and agree to be bound by these Terms of Use and all applicable laws. If any of these Terms of Use are unacceptable to you or you do not wish to be bound by these Terms of Use, do not use the Site.
</p>

<p>
We may change these Terms of Use from time to time without notice. By continuing to access or use the Site or any of its content following the posting of such changes, you agree to be bound by these Terms of Use as modified. Accordingly, you should read these Terms of Use from time to time for any changes.  GW may change, restrict access to, suspend, or discontinue this Site, or any portion of this Site, at any time.
</p>

<p>
2. <strong>Privacy:</strong>  You understand that any information you submit or provided by you will be treated in the manner described in these Terms of Use and the GW <a href=http://www.gwu.edu/privacy-policy target=”_blank”>Privacy Policy</a>.
</p>

<p>
3. <strong>Copyright and Other Proprietary Rights:</strong> The Site includes text, images, graphics, information, articles, multi-media objects, scholarly projects, and other works protected by copyright, trademark and other laws ("Content"). Some of the Content on this site may include materials from older published works that have passed into the "public domain" under U.S. copyright law. Where such information is known, it is included specifically in the metadata associated with each item of Content. The Site itself and most of the materials held as Content on the Site are protected by copyright and other laws. 
</p>

<p>
Nothing in these Terms of Use or on the Site will be construed as granting you any right or license to use any trademarks, service marks or logos displayed on the Site. You agree not to use or register any name, marks, or logo of the George Washington University for any purpose except with our prior written approval and in accordance with any restrictions required by us.
</p>

<p>
4. <strong>Reserved Rights; Obtaining Permissions:</strong> All rights in the Site and the Content that are not expressly granted are reserved. You agree to use the Site and the Content only in ways that comply with copyright law and all other applicable laws, as well as with these Terms of Use, and that do not infringe or violate anyone's rights. If you wish to make any use of the Content that requires authorization under copyright, trademark or other rights, you agree to obtain all necessary permissions. You are responsible for determining whether permission is needed to make any use of the Content that you wish to make.
</p>

<p>
5. <strong>Special Permissions:</strong> GW does not have the authority to grant or deny special permissions to use images or other Content found on the site beyond those uses that are specifically described in these Terms of Use or as noted specifically on individual items of Content. GW is not able to undertake copyright investigations on behalf of Site users.
</p>

<p>
6. <strong><%= ApplicationController.helpers.application_name %> Access Levels:</strong> Where possible, GW makes the Content available to the general public. However, some of the Content on this Site has been made available only to GW community users or other user subgroups by designation of the depositor. Such Content cannot be used, downloaded, or distributed by anyone except such authorized users without the written permission of the depositor.
</p>

<p>
7. <strong>Use of <%= ApplicationController.helpers.application_name %> Site and Content:</strong>  Unless otherwise specified, Content that has been made accessible to the general public may be used for non-commercial research, educational, or related academic purposes only. Such uses include personal study, distribution to students, research and scholarship (including computational research uses such as data and text mining, citation extraction, or cross-referencing) as long as you do not sell the Content or sell advertising on any page on which the Content is displayed. If you make an item of Content available to others, you shall do so in accordance with the terms of the rights granted pursuant to the particular item of Content and you will retain with the Content its title, the name of the author(s), a reference to these Terms of Use, any copyright or other proprietary notice included on the original, and any metadata associated with the original. You may not make any translation, adaptation or other derivative work of an item of Content except as authorized under applicable law. You may not sublicense or otherwise transfer your rights in an item of Content, unless specifically authorized by the copyright license granted to the item of Content and will only make Content available to others for use by them under these Terms of Use.
</p>

<p> 
8. <strong>Fair Use and Other Lawful Uses:</strong> Nothing in these Terms of Use is intended to restrict or limit you from making uses of Content that, in the absence of rights granted hereunder, would not infringe or violate anyone's copyright, trademark or other rights in such Content. To the extent permitted by law, adaptation of the Content to enable use and access by persons with disabilities is encouraged.
</p>

<p>
9. <strong>Third Party Links:</strong>  Links on the Site to third-party web sites are provided solely as a convenience to you. We do not approve or endorse the content of linked third-party sites, and you agree that we will have no responsibility or liability in connection with your use of any linked third-party sites. If you decide to access linked third-party websites, you do so at your own risk.
</p>

<p>
10. <strong>Choice of Law/Forum Selection:</strong>  GW is located in Washington, DC.  You agree that any dispute arising out of or relating to these Terms of Use or any Content posted to the Site, including copies and republication thereof, whether based in contract, tort, statutory or other law, will be governed by the laws of the District of Columbia, excluding its conflicts of law provisions. You further consent to the personal jurisdiction of and exclusive venue in the federal and state courts located in and serving the District of Columbia as the legal forum for any such dispute.
</p>

<p>
11. <strong>User Content Disclaimer:</strong> You understand that when using the Site you will be exposed to Content from a variety of sources and that we are not responsible for the accuracy, usefulness, reliability, or intellectual property rights of or relating to such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, or objectionable and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against us with respect thereto. We do not endorse any Content or any opinion, recommendation, or advice expressed therein. We do not have any obligation to monitor any Content or any user communications through the Site.  However, we reserve the right to review Content and to exercise its sole discretion to edit or remove, in whole or in part, any Content at any time and for any reason.
</p>

<p>
12.  <strong>Disclaimer of Warranties:</strong> THE SITE AND THE CONTENT ARE PROVIDED "AS IS." TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND (EXPRESS, IMPLIED OR OTHERWISE) REGARDING THE SITE OR THE CONTENT, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OWNERSHIP, AND NON-INFRINGEMENT. 
</p>

<p>
We make no warranty about the accuracy, reliability, completeness, timeliness, sufficiency or quality of the Site or the Content, nor that any particular Content will continue to be made available. We do not approve or endorse any posted material or content provided by others, including GW authors. We do not warrant that the Site will operate without error or interruption, or that the Site or its server are free of computer viruses or other harmful materials. We make no representation regarding your ability to transmit and receive information from or through the Site and you agree and acknowledge that your ability to access the Site may be impaired. We disclaim any and all liability resulting from or related to such events.
</p>

<p>
13. <strong>Limitations of Liability:</strong> WE MAKE THE SITE AND THE CONTENT AVAILABLE FREE OF CHARGE. YOUR USE OF THE SITE AND THE CONTENT IS AT YOUR OWN SOLE RISK. YOU AGREE THAT WE WILL NOT BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES, EITHER ACTUAL OR CONSEQUENTIAL, ARISING OUT OF OR RELATING TO THESE TERMS OF USE, OR TO YOUR (OR ANY THIRD PARTY'S) USE OR INABILITY TO USE THE SITE, OR TO YOUR PLACEMENT OF CONTENT ON THE SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH THE SITE. IN PARTICULAR, WE WILL HAVE NO LIABILITY FOR ANY CONSEQUENTIAL, INDIRECT, PUNITIVE, SPECIAL, OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR DEFAMATION, ERRORS, LOSS OF DATA, OR INTERRUPTION IN AVAILABILITY OF DATA), ARISING OUT OF OR RELATING TO THESE TERMS OF USE, YOUR USE OR INABILITY TO USE THE SITE, OR YOUR PLACEMENT OF CONTENT ON THE SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH THE SITE, WHETHER BASED IN CONTRACT, TORT, STATUTORY OR OTHER LAW, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
</p>

<p>
14. <strong>Indemnity:</strong> You agree to indemnify and hold harmless GW and its trustees, officers, fellows, students, employees and agents, from and against all claims, actions, suits, damages, liabilities and costs (including, without limitation, reasonable legal fees) arising from or relating to your use of the Site or any of the Content or your failure to comply with any provision of these Terms of Use, and, if applicable, to fully cooperative with GW’s defense against such claims.
</p>

<p>
15. <strong>Copyright Complaints:</strong>  We respect the intellectual property rights of others. If you are an owner of intellectual property and you believe your intellectual property has been improperly posted or distributed via the Site, please notify us by sending an email to <a href="mailto:copyright@gwu.edu">copyright@gwu.edu</a> or by sending a notice by U.S. Mail to: 2100 Pennsylvania Avenue NW Suite 250, Washington DC 20052, Attention: Legal Department. In your e-mail or letter, you will need to include all of the notice elements listed in the DMCA at 17 U.S.C. § 512(c)(3). Please be aware that the DMCA makes copyright owners liable if they materially misrepresent that a user's content is infringing.
</p>

<p>
16. <strong>Communications and Feedback:</strong> We encourage you to contact us in regards to any questions, comments, suggestions, or other feedback you have about the Site. Feedback and any other communications may be sent using the contact form.   You acknowledge and agree that any feedback provided by you to GW is non-confidential and GW shall be entitled to the unrestricted use and dissemination of it for any purpose, commercial or otherwise, without acknowledgement or compensation to you.
</p>

<p>  
17. <strong>Termination:</strong> The permissions granted to you in these Terms of Use will terminate automatically upon any breach by you of these Terms of Use. If we take down or otherwise cease to make a work available as an item of Content, the permission granted to you hereunder to use that Content thereafter will terminate at that time. The Site is maintained as a scholarly and educational resource by GW which may be modified or terminated by the University in its sole discretion.
</p>

<p>
18. <strong>General:</strong>  These Terms of Use constitute the entire agreement between you and GW and with respect to the subject matter herein and supersedes any and all prior or contemporaneous oral or written agreements. These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by GW without restriction. Any attempted transfer or assignment in violation hereof shall be null and void. The failure of either party to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms of Use remain in full force and effect.
</p>
