<div class="alert alert-info">
    <h2 class="sr-only">Notice to Authors</h2>
    <p> If you are the author of this work and you have any questions about the information on this page, please use the <a href='/contact'>Contact form</a> to get in touch with us.
    </p>
</div>